<tr data-id=<%=stage.id%>>
  <td data-field="name" contenteditable='true' data-id=<%=stage.id%> ><%= stage.name %></td>
  <td data-field="desc" contenteditable data-id=<%=stage.id%>><%= stage.desc %></td>
  <td data-field="duration" contenteditable data-id=<%=stage.id%>><%= stage.duration %></td>
  <td data-field="target_temperature" contenteditable data-id=<%=stage.id%>><%= stage.target_temperature %></td>
  <td data-field="sequence" contenteditable data-id=<%=stage.id%>><%= stage.sequence %></td>
</tr>